.infoboard{
    width: 100%;
}
.infoboard table {
		border:1px solid #C0C0C0;
		border-collapse:collapse;
		padding:5px;
        font-size: 0.8em;
	}
.infoboard th {
		border:1px solid #C0C0C0;
		padding:5px;
		background:#F0F0F0;
	}
.infoboard td {
		border:1px solid #C0C0C0;
		padding:5px;
    }
.infoboard tr:nth-child(even) {background-color: white;}

