body {font-family: "Lato", sans-serif;}

.zzz{
    z-index: 9999 !important;
}


.replace-delete-btn{

}

.cardshop-sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;



  padding-top: 16px;
  background-color: #f2f2f2;
}
.form-control-custom{
    width: 90%;
    line-height: 0.8;
    font-size: 14px !important;
}
#showMasterdataForm hr
{
    margin: 0.px !!important;
     border: none;
   margin: 0.5rem 0;
}
.cardAccess{
  float: right;
  margin-right: 10px;
}

.cardshop-main {
  margin-left: 300px; /* Same as the width of the sidenav */

}
.cardshop-main-menu{
  height: 50px;

  width:100%;
  background-color: #f2f2f2;
}
.cardshop-main-content{
    height: calc(100vh - 60px);
}
.cardshop-sidebar-right-title{
    z-index: 1000;
    font-size: 20px;
    background-color: rgb(13, 96, 248);
}
.ontop{
    z-index: 9999 !important;
}

.cardshop-sidebar-right{
    position:absolute;
    right:0px;
    top:0px;
    width: calc(100vw * 0.99);
    color:  black !important;
    font-size: 12px;
    height: calc(100vh - 1px);
      border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;

    z-index: 1800;
    display: none;
  background-color: white;

}
.cardshop-sidebar-right-header{
  height: 50px;
background-color: rgb(13, 96, 248);
  text-align: center;
  color:white;

}

.cardshop-sidebar-right-content{
  height: calc(100vh - 100px);
  padding: 5px;
  overflow-y:auto;


}
.cardshop-sidebar-right-close{
  color:white;
  cursor: pointer;
  position: absolute;
  left: 0px;
  top:  0px;


}
.cardshop-sidebar-right-close:hover{
    color:black;
}

/**** tabs ****/
#cardshop-tabs {
  display: none;
}

#cardshop-tabs .cardshop-tabs{
    font-size:12px !important;
    font-weight: bold;

}
.cardshop-tabs-content{

  height: calc(100vh - 100px);
  font-size:14px !important;
  overflow-y: auto;
  line-height: 1;

}

/**** tab action btn ****/
#cardshop-tabs-action button{
    font-size:12px !important;

}

/**** menu ****/
#cardshop-demoshop-btn{
    font-size:12px !important;
  margin-top: 10px;
  margin-right: 10px;
  float: right;

}

#cardshop-create-company-btn{
  font-size:12px !important;
  margin-top: 10px;
  margin-right: 10px;
  float: right;
}
#cardshop-show-approvelist-btn{
  font-size:12px !important;
  margin-top: 10px;
  margin-right: 10px;
  float: right;
}
#cardshop-supersearch-btn{
  font-size:12px !important;
  margin-top: 10px;
  margin-right: 10px;
  float: right;
}
#cardshop-replace-valgshopcard-btn{
  font-size:12px !important;
  margin-top: 10px;
  margin-right: 10px;
  float: right;
  color:white;
}



#cardshop-tabs-action{
      font-size:12px !important;
      margin-top: 10px;
      margin-left: 10px;
      float: left;
}
#cardshop-tabs-action-stamdata button{
    font-size:12px !important;

}
#cardshop-tabs-action-stamdata{
      font-size:12px !important;
      margin-top: 10px;
      margin-left: 10px;
      float: left;
}
.toast-container{


    z-index: 9999;
  position: fixed;
  bottom: 0;
  left: 0;


}
.toast{
  background-color: #E8F812;
  color:black;
   opacity: 0.9;
}

/*----------- orderform ----------------*/
#newOrderForm {
    font-size: 13px;
}

#newOrderForm fieldset{
    border: 1px solid #90908E !important;
    padding: 5px !important;
}
#newOrderForm .OrderFormHide{
    display: none;
}
#newOrderForm{
    margin-left:30px;
    padding-left:20px;

    max-width: 700px;
}
.AdditionalProductsItems{
    width: 50px;
}
.removeAdditionalDeleveryAdress{
  float: right;

}
.removeEarlyordersAdress{
  float: right;

}

 /*----------- early order ----------------*/
.earlyOrderCustomItemnr{
    display:none;
}
.earlyOrderFormError{
    background-color: red;

}

 /*----------- icon ----------------*/
.bi-pencil-square {
    cursor:pointer;
}

  .frame {
        -ms-zoom: 0.90;
        -moz-transform: scale(0.95);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.95);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.95);
        -webkit-transform-origin: 0 0;
        margin-left:50px;
    }
 .approveActionContainer{
   width: 300px;
   height: calc(100vh - 1px);
   position: fixed;
   left: 0px;
   top:60px;
   background-color: rgb(13, 96, 248);
   color:white;
   z-index: 9999;
   overflow-y: auto;
   padding-left:10px;
 }
 /*-------------- table -------------------- */
#approvelist-view {
  font-size: 12px;
}

#approvelist-view tr:nth-child(even){background-color: #f2f2f2;}
.approveInfo{
  background-color: #EFEFEF;
  margin-right:10px;
  color:black;
  padding:5px;
}

.customTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

.customTable td, .customTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.customTable tr:nth-child(even){background-color: #f2f2f2;}

.customTable tr:hover {background-color: #ddd;}

.customTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
.tabel-replace{
  background-color: #CCD765 !important;
}
.searchMasterDataElement{
  z-index: 9999;
}

