body{
  font-size: 10px !important;
}


#dtBasicExample_filter{
    float: right !important;

}
.my-custom-scrollbar {
position: relative;
height: 400px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}
.simple{
  width: 150px;
  height: 200px;
  float: right;
  border:1px solid #A7A7A7;
  background-repeat: no-repeat;
  background-size: contain;
}

.frontnotShow{
  display: none;
}